force-app/main/default/flows/Close_Events_On_Waiver_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Build_Event</name>
        <label>Build Event To Close</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>eventVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Links.Closure_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
    </assignments>
    <apiVersion>62.0</apiVersion>
    <description>After-save on Case (Closure_Waiver_Request) when Waiver_Status__c transitions to Local_Board_Approved or State_Board_Approved. Sets every linked Closure_Event (via Waiver_Closure_Link__c) to Closed (shows green on calendar). Bulk-safe.</description>
    <environments>Default</environments>
    <interviewLabel>Close Events On Waiver Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Events On Waiver Approval</label>
    <loops>
        <name>Loop_Links</name>
        <label>Loop Waiver Links</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Links</name>
        <label>Get Waiver Links</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Waiver_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Waiver_Closure_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Events</name>
        <label>Close Linked Events</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>eventColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Links</targetReference>
        </connector>
        <filterFormula>AND(
    {!$Record.RecordType.DeveloperName} = &quot;Closure_Waiver_Request&quot;,
    OR(
        ISPICKVAL({!$Record.Waiver_Status__c}, &quot;Local_Board_Approved&quot;),
        ISPICKVAL({!$Record.Waiver_Status__c}, &quot;State_Board_Approved&quot;)
    ),
    NOT(OR(
        ISPICKVAL({!$Record__Prior.Waiver_Status__c}, &quot;Local_Board_Approved&quot;),
        ISPICKVAL({!$Record__Prior.Waiver_Status__c}, &quot;State_Board_Approved&quot;)
    ))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eventColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closure_Event__c</objectType>
    </variables>
    <variables>
        <name>eventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closure_Event__c</objectType>
    </variables>
</Flow>
