force-app/main/default/flows/Close_Events_On_Makeup_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Build_Event</name>
        <label>Build Event To Close</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>eventVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Links.Closure_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventVar.Make_Up_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
    </assignments>
    <description>After-save on Makeup_Day__c when Status becomes Approved. Sets every linked Closure_Event (via Closure_Makeup_Link__c) to Closed (UC-11). Bulk-safe: builds a collection and updates once.</description>
    <environments>Default</environments>
    <interviewLabel>Close Events On Makeup Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Events On Makeup Approval</label>
    <loops>
        <name>Loop_Links</name>
        <label>Loop Makeup Links</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Links</name>
        <label>Get Makeup Links</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Makeup_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Closure_Makeup_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Events</name>
        <label>Close Linked Events</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>eventColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Links</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Makeup_Day__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eventColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closure_Event__c</objectType>
    </variables>
    <variables>
        <name>eventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closure_Event__c</objectType>
    </variables>
</Flow>
