force-app/main/default/flows/Create_Closure_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Expand_Closure_Submission</name>
        <label>Expand Closure Submission</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ExpandClosureSubmission</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Submit_For_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExpandClosureSubmission</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Closure_Submission_Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>After-insert on Case (RecordType Closure_Submission, Submission_Status = Submitted). Calls invocable Apex to expand the submission into Closure_Event__c rows and acknowledge the Case.</description>
    <environments>Default</environments>
    <interviewLabel>Create Closure Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Closure Events</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expand_Closure_Submission</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = &quot;Closure_Submission&quot;, TEXT({!$Record.Submission_Status__c}) = &quot;Submitted&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
