force-app/main/default/flows/Populate_District_On_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Before-save on Closure_Event__c (create/update, only when District__c is null). Sets District__c from the School's parent Account; throws a custom error if the school has no parent district.</description>
    <environments>Default</environments>
    <interviewLabel>Populate District On Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate District On Event</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_School</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>District__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Closure_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <recordLookups>
        <name>Get_School</name>
        <label>Get School Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_District</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_District_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Check_Parent_District</name>
        <label>Has Parent District?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>No_District_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Has_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_School.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_District</targetReference>
            </connector>
            <label>Has Parent</label>
        </rules>
    </decisions>
    <assignments>
        <name>Assign_District</name>
        <label>Assign District</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>$Record.District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_School.ParentId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>No_District_Error</name>
        <label>No District Error</label>
        <locationX>314</locationX>
        <locationY>374</locationY>
        <customErrorMessages>
            <errorMessage>The selected school is not associated with a district. Contact your administrator.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
</Flow>
