force-app/main/default/flows/Route_Waiver_By_Tier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SCDE_Email</name>
        <label>Notify SCDE Team</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>scde-closures-compliance@ed.sc.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tier 4 Waiver Logged (General Assembly) — Informational</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A Tier 4 (General Assembly) waiver has been logged. This is informational only — no approval process is required.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Tier2</name>
        <label>Submit Tier 2 Approval</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalProcessNameOrId</name>
            <value>
                <stringValue>Waiver_Tier2_Approval</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Tier3</name>
        <label>Submit Tier 3 Approval</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approvalProcessNameOrId</name>
            <value>
                <stringValue>Waiver_Tier3_Approval</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Route_By_Tier</name>
        <label>Route By Tier</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Tier4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tier 4</defaultConnectorLabel>
        <rules>
            <name>Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tier1</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Tier2</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Tier3</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
    </decisions>
    <description>After-save on Case (Closure_Waiver_Request). Fires on create or when Waiver_Status changes to Submitted. Routes by Tier: Tier 1 returned, Tier 2/3 owner=queue + submit to approval, Tier 4 owner=queue + Logged + notify SCDE.</description>
    <environments>Default</environments>
    <interviewLabel>Route Waiver By Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Route Waiver By Tier</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get SCDE Closures Compliance Queue</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Route_By_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCDE_Closures_Compliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tier1</name>
        <label>Return Tier 1</label>
        <locationX>50</locationX>
        <locationY>530</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Waiver_Status__c</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCDE_Notes__c</field>
            <value>
                <stringValue>Tier 1 waivers are not required.</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_Tier2</name>
        <label>Set Owner Tier 2</label>
        <locationX>314</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Submit_Tier2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_Tier3</name>
        <label>Set Owner Tier 3</label>
        <locationX>446</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Submit_Tier3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tier4</name>
        <label>Log Tier 4</label>
        <locationX>578</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Send_SCDE_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver_Status__c</field>
            <value>
                <stringValue>Logged</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = "Closure_Waiver_Request", TEXT({!$Record.Waiver_Status__c}) = "Submitted")</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
