force-app/main/default/flows/Set_Make_Up_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>308</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>var_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Makeup_False</name>
        <label>Set Makeup False</label>
        <locationX>176</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>var_makeup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Makeup_True</name>
        <label>Set Makeup True</label>
        <locationX>572</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>var_makeup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delayed_Dismissal</name>
        <label>Delayed or Early Dismissal?</label>
        <locationX>176</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Check_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Is_Delayed_Or_Dismissal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delayed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Dismissal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Is Delayed or Dismissal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_eLearning</name>
        <label>eLearning?</label>
        <locationX>308</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Check_Delayed_Dismissal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not eLearning</defaultConnectorLabel>
        <rules>
            <name>Is_eLearning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed – eLearning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Is eLearning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Instructional</name>
        <label>Instructional Day?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_eLearning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Instructional</defaultConnectorLabel>
        <rules>
            <name>Not_Instructional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructional_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Not Instructional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Method</name>
        <label>Make Up Method Declared?</label>
        <locationX>176</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Get_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Method</defaultConnectorLabel>
        <rules>
            <name>Method_Declared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Make_Up_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Method Declared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Minimum</name>
        <label>Minimum Already Met?</label>
        <locationX>572</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>Set_Makeup_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Met</defaultConnectorLabel>
        <rules>
            <name>Minimum_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_MissedMetric</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Rules.Min_Instructional_Days_Per_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Minimum Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reason</name>
        <label>Reason Requires Makeup?</label>
        <locationX>308</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Get_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requires (or unknown)</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Require</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reason.Requires_Makeup_Default__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Makeup_False</targetReference>
            </connector>
            <label>Does Not Require</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Update</name>
        <label>Value Changed?</label>
        <locationX>374</locationX>
        <locationY>1160</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_makeup</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Make_Up_Required__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>After-save on Closure_Event__c (create/update). Evaluates whether a makeup day is required (instructional-day flag, eLearning, reason default, statutory minimum) and writes Make_Up_Required__c. Updates the triggering record only when the value changes (recursion guard).</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_MissedMetric</name>
        <dataType>Number</dataType>
        <expression>{!var_count} * {!Get_Rules.Hours_Per_Instructional_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Make Up Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Make Up Required</label>
    <loops>
        <name>Loop_Events</name>
        <label>Count Events</label>
        <locationX>440</locationX>
        <locationY>818</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Minimum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Instructional Closures This Year</label>
        <locationX>440</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Instructional_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Closure_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reason</name>
        <label>Get Closure Reason CMDT</label>
        <locationX>308</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Closure_Reason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Closure_Reason__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rules</name>
        <label>Get Compliance Rules Default</label>
        <locationX>440</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Compliance_Rules__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Make Up Required</label>
        <locationX>374</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Make_Up_Required__c</field>
            <value>
                <elementReference>var_makeup</elementReference>
            </value>
        </inputAssignments>
        <object>Closure_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Instructional</targetReference>
        </connector>
        <object>Closure_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_makeup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
