force-app/main/default/flows/Tier_Boundary_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Waiver Notification</label>
        <locationX>176</locationX>
        <locationY>1850</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Waiver Case Created — Review Required in Member Center</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A school closure has pushed your district across a waiver tier boundary. A Waiver Case has been automatically created in Draft status. Please log in to Member Center to review and complete the waiver request.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Hours</name>
        <label>Add Hours</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_totalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sum.Hours_Missed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Link</name>
        <label>Build Link</label>
        <locationX>50</locationX>
        <locationY>1390</locationY>
        <assignmentItems>
            <assignToReference>linkVar.Waiver_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Waiver_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkVar.Closure_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Links.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linkVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Crossed</name>
        <label>Boundary Crossed?</label>
        <locationX>176</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>No Crossing</defaultConnectorLabel>
        <rules>
            <name>Crossed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_crossed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RT</targetReference>
            </connector>
            <label>Crossed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Has Contact Email?</label>
        <locationX>176</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>Email Present</label>
        </rules>
    </decisions>
    <description>After-insert on Closure_Event__c (Make_Up_Required = true AND Instructional_Day = true). Computes YTD missed days for the school/year, and if the new total crosses a tier boundary (3/6/9) the previous total did not, auto-creates a Closure_Waiver_Request Case (Draft), links all make-up-required events to it, and emails the reporting contact. Queue owner is resolved dynamically by DeveloperName SCDE_Closures_Compliance.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_crossed</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND( ({!var_totalHours} - {!$Record.Hours_Missed__c}) / {!Get_Rules.Hours_Per_Instructional_Day__c} &lt; {!Get_Rules.Tier2_Threshold__c}, {!var_totalHours} / {!Get_Rules.Hours_Per_Instructional_Day__c} &gt;= {!Get_Rules.Tier2_Threshold__c} ),
AND( ({!var_totalHours} - {!$Record.Hours_Missed__c}) / {!Get_Rules.Hours_Per_Instructional_Day__c} &lt; {!Get_Rules.Tier3_Threshold__c}, {!var_totalHours} / {!Get_Rules.Hours_Per_Instructional_Day__c} &gt;= {!Get_Rules.Tier3_Threshold__c} ),
AND( ({!var_totalHours} - {!$Record.Hours_Missed__c}) / {!Get_Rules.Hours_Per_Instructional_Day__c} &lt; {!Get_Rules.Tier4_Threshold__c}, {!var_totalHours} / {!Get_Rules.Hours_Per_Instructional_Day__c} &gt;= {!Get_Rules.Tier4_Threshold__c} )
)</expression>
    </formulas>
    <interviewLabel>Tier Boundary Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier Boundary Check</label>
    <loops>
        <name>Loop_Sum</name>
        <label>Sum Missed Hours</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Sum_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Crossed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Links</name>
        <label>Loop Make-Up Events</label>
        <locationX>176</locationX>
        <locationY>1282</locationY>
        <collectionReference>Get_Link_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Links</name>
        <label>Create Waiver Closure Links</label>
        <locationX>176</locationX>
        <locationY>1506</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputReference>linkColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiver_Case</name>
        <label>Create Waiver Case</label>
        <locationX>176</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>Get_Link_Events</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver_District__c</field>
            <value>
                <elementReference>$Record.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Rules</name>
        <label>Get Compliance Rules Default</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Sum_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Compliance_Rules__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sum_Events</name>
        <label>Get Qualifying Events</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Loop_Sum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Instructional_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Make_Up_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Closure_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get Waiver RecordType</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closure_Waiver_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get SCDE Closures Compliance Queue</label>
        <locationX>176</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>Create_Waiver_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCDE_Closures_Compliance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Link_Events</name>
        <label>Get Make-Up Events</label>
        <locationX>176</locationX>
        <locationY>1174</locationY>
        <connector>
            <targetReference>Loop_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>School__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.School_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Make_Up_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Closure_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Reporting Contact</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reported_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Make_Up_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Instructional_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Closure_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>linkColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Waiver_Closure_Link__c</objectType>
    </variables>
    <variables>
        <name>linkVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Waiver_Closure_Link__c</objectType>
    </variables>
    <variables>
        <name>var_totalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
